@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url('./Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: italic;
  font-display: auto;
  src: url('./Ubuntu/Ubuntu-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: url('./Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url('./Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}
